
{#
/**
 * @file
 * Default theme implementation for the Semantic answers summary.
 *
 * Available variables:
 * - answers: A nested list of semantic answers. Each anwser contains:
 *   - uuid: The UUID of the performed search.
 *   - key: The item ID of indexed item.
 *   - entity_uri: The Entity URI of the entity in which the answer was found.
 *   - text: The answer text.
 *   - highlights: The answer highlights.
 *   - score: The score of the answer.
 *   - attributes: HTML attributes for the answer element.
 * - semantic_scoring: Whether semantic scoring is enabled.
 *
 * @ingroup themeable
 */
#}

{% if answers %}
  <ul>
    {% for answer in answers %}
      <li {{ answer.attributes }}>
        {{ answer.score }} : {{ answer.highlights ? answer.highlights : answer.text }}

        {% if semantic_scoring %}
          <button class="js-aais-semantic-scoring-upvote">{{ 'Upvote'|t }}</button>
          <button class="js-aais-semantic-scoring-downvote">{{ 'Downvote'|t }}</button>
        {% endif %}
        <hr />
        {{ link('See this answer'|t, answer.entity_uri) }}
      </li>
    {%  endfor %}
  </ul>
{% endif %}
